/*sidebar2部分*/
#container2{
	display:none;
	}
#sidebar2{
    float:left;
	width:12%;
	height:250%;
	margin-left:15%;
	top:25%;
	}
#blackground2 {
    float:left;
	width: 100%;
	height: 350px;
	background-image:url(../img/blackground.png);	
    background-size:cover;
}

#jiantoub1{
	width:13%;
	height:15px;
	padding-left:0%;
	padding-bottom:2px;
	margin-left:5%;
	cursor:pointer;
	}
#jiantoub2{
	width:13%;
	height:15px;
	padding-left:5%;
	padding-bottom:4px;
	cursor:pointer;
	}
#baixianb1{
	width:100%;
	height:0.2%;
	}
#baixianb1 img{
	width:100%;
	}
	#baixianb2{
	width:100%;
	height:0.2%;
	}
#baixianb2 img{
	width:100%;
	}
#huodongshenpi{
	width:100%;
	margin-left:9%;
	padding-top:5%;
	cursor:pointer;
	}
#huodongshenpi1{
	width:60%;
	}
#zhaoxinshenpi{
	width:100%;
	margin-left:8%;
	padding-top:5%;
	cursor:pointer;
	}

#zhaoxinshenpi1{
	width:60%;
	}

#menubarb {
	float: left;
	width: 100%;
	height: 50%;
	z-index: 1;
	margin-top: 20%;
}
#menuitermb1{
	margin-top:10px;
}
#menuitermb1 img{
    width:100%;
}
#menuitermb2{
	margin-top:12px;
}
#menuitermb2 img{
    width:100%;
}
#menuitermb3{
	margin-top:12px;
	}
#menuitermb3 img{
   width:100%;
}	

/*contentb1部分*/
#contentb1 {
	float:left;
	width: 50%;
	height: 0px;
	left:32%;
	z-index: 1;
	margin-left:30px;
	top: 25%;
}
#daohangb1 {
	float:left;
	width: 101%;
	height: 30px;
	z-index: 2;
}
#daohangb1 img{
	 width: 101%;
	 height:30px;
	}
#xinxia1 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:40px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxia1 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showa1{
     white-space:nowrap;
	 line-height:8px;
	}
#hidea1{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbia1 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaia1{
	margin-right:10px;
	cursor:pointer;
	}
#tongguoa1{
	cursor:pointer;
	}
#zhankaia1 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}
#xinxia2 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxia2 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showa2{
     white-space:nowrap;
	 line-height:8px;
	}
#hidea2{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbia2 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
}
#taotaia2{
	margin-right:10px;
	cursor:pointer;
	}
#tongguoa2{
	cursor:pointer;
	}
#zhankaia2 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}

#xinxia3 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxia3 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showa3{
     white-space:nowrap;
	 line-height:8px;
	}
#hidea3{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbia3 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaia3{
	margin-right:10px;
	cursor:pointer;
	}
#tongguoa3{
	cursor:pointer;
	}
#zhankaia3 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}


#xinxia4 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxia4 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showa4{
     white-space:nowrap;
	 line-height:8px;
	}
#hidea4{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbia4 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaia4{
	margin-right:10px;
	cursor:pointer;
	}
#tongguoa4{
	cursor:pointer;
	}
#zhankaia4 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}

#xinxia5 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxia5 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showa5{
     white-space:nowrap;
	 line-height:8px;
	}
#hidea5{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbia5 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaia5{
	margin-right:10px;
	cursor:pointer;
	}
#tongguoa5{
	cursor:pointer;
	}
#zhankaia5 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}
/*contentb2部分*/
#contentb2 {
	float:left;
	width: 50%;
	height: 0px;
	left:32%;
	z-index: 1;
	margin-left:30px;
    display:none;
	top: 25%;
}
#daohangb2 {
	float:left;
	width: 101%;
	height: 30px;
	z-index: 2;
}
#daohangb2 img{
	 width: 101%;
	 height:30px;
	}
#xinxib1 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:40px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxib1 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showb1{
     white-space:nowrap;
	 line-height:8px;
	}
#hideb1{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbib1 {
	float:right;    
	height: 10px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;

}
#taotaib1{
	margin-right:10px;
	cursor:pointer;
	}
#tongguob1{
	cursor:pointer;
	}
#zhankaib1 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}
#xinxib2 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxib2 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showb2{
     white-space:nowrap;
	 line-height:8px;
	}
#hideb2{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbib2 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaib2{
	margin-right:10px;
	cursor:pointer;
	}
#tongguob2{
	cursor:pointer;
	}
#zhankaib2 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}

#xinxib3 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxib3 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showb3{
     white-space:nowrap;
	 line-height:8px;
	}
#hideb3{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbib3 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaib3{
	margin-right:10px;
	cursor:pointer;
	}
#tongguob3{
	cursor:pointer;
	}
#zhankaib3 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}


#xinxib4 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxib4 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showb4{
     white-space:nowrap;
	 line-height:8px;
	}
#hideb4{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbib4 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaib4{
	margin-right:10px;
	cursor:pointer;
	}
#tongguob4{
	cursor:pointer;
	}
#zhankaib4 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}

#xinxib5 {
	width: 101%;
	height: 50px;
	background-color:#dddddd;
	z-index: 2;
	margin-top:10px;
    line-height:20px;
    height:auto !important;
    min-height:50px; 

}
#xinxib5 table{
	padding:0px;
	margin-top:0px; 
	line-height:22px;
	}
#showb5{
     white-space:nowrap;
	 line-height:8px;
	}
#hideb5{
	white-space:nowrap;
	display:none;
    height:auto !important;
    min-height:50px; 
	width:100%;
	word-wrap: break-word; 
	word-break: normal; 
	white-space:normal;
	}
#guanbib5 {
	float:right;    
	height: 5px;
	z-index: 2;
	left:0px;
	margin-right:5px;
	margin-bottom:10px;
	display:none;
	cursor:pointer;
}
#taotaib5{
	margin-right:10px;
	cursor:pointer;
	}
#tongguob5{
	cursor:pointer;
	}
#zhankaib5 { 
    float:right;
	margin-right:29px;
	height: 25px;
	width:20%;
	z-index: 2;
	cursor:pointer;
}
.toumingb{
   filter:alpha(opacity=50);
   opacity:0.5;
}
#pageb1{
	float:right;
	width:45%;
	height:70px;
	margin-right:0px;
	margin-bottom:30px;
}
#pageb2{
	float:right;
	width:45%;
	height:70px;
	margin-right:0px;
	margin-bottom:30px;
}